<!DOCTYPE html>
<html>

<head>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #dddddd;
        }
        
        li {
            float: left;
        }
        
        li a {
            display: block;
            padding: 8px;
        }
    </style>
</head>

<body>

    <body>
        <ul>
            <li><a href="../home.html">Home</a></li>
            <li><a href="../profile.html">Profile</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="../tables/supplier_table.html">Back</a></li>
        </ul>
        <h1>Supplier View Page</h1>
        <div>
            <h3>Supplier ID Number</h3>
            <p>Display Supplier ID Number</p>
        </div>
        <div>
            <h3>Supplier Name</h3>
            <input type="text" id="myInput" placeholder="Select Type" title="Enter Value">
        </div>
        <div>
            <h3>Location ID Number</h3>
            <input type="text" id="myInput" placeholder="Enter City" title="Enter Value">
        </div>
        <div>
            <h3>Product Type</h3>
            <input type="text" id="myInput" placeholder="Enter City" title="Enter Value">
        </div>
        <div>
            <h3>Contact Name</h3>
            <input type="text" id="myInput" placeholder="Enter City" title="Enter Value">
        </div>
        <div>
            <h3>Phone Number</h3>
            <input type="text" id="myInput" placeholder="Enter City" title="Enter Value">
        </div>
    </body>

</html>